* {
  box-sizing: border-box;
}

:root {
  --default-color: #CC9933;
  --brightness-default-color: #F0BF5F;
  --dark-default-color: #A47312;
  --gray-text: #999;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Muller', 'SansSerif', 'Verdana';
  font-weight: 400;
  background: #F1F1F1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

section {
  margin-bottom: 70px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #333;
  padding-left: 40px;
}

.section-ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.section-items {
  background-color: #fff;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--default-color);
  border-radius: 10px;
  background: transparent;
  padding: 0;
  /* cursor: pointer; */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border: none;
}

.buttons:focus {
  background-color: var(--default-color);
  color: #FFF;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.buttons:hover {
  background-color: var(--default-color);
  color: #FFF;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.buttons:active {
  background-color: var(--dark-default-color);
  color: #FFF;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-link {
  display: flex;
  justify-content: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--default-color);
  border: 1px solid var(--default-color);
  border-radius: 10px;
  text-decoration-line: none;
  padding: 13px 20px;
  color: var(--default-color);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn-link:hover {
  border-radius: 10px;
  background-color: var(--default-color);
  color: #FFF;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn-link:focus {
  background-color: var(--default-color);
  color: #FFF;
  transition: background-color 0.3s ease-in-out;
}

.btn-link:active {
  background-color: var(--dark-default-color);
  color: #FFF;
  transition: background-color 0.3s ease-in-out;
}

.items-link {
  display: flex;
  color: var(--brightness-default-color);
  text-decoration-line: none;
}

/* header */

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 30px;
}

.header-logo {
  margin-right: 40px;
  text-decoration-line: none;
}

.contacts-header-link {
  margin-right: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
  text-decoration-line: none;
  transition: color 0.3s ease-in-out;
}

.contacts-header-link:focus {
  outline-offset: 5px;
  outline: 1px solid var(--default-color);
  color: var(--default-color);
  transition: color 0.3s ease-in-out;
}

.contacts-header-link:hover {
  color: var(--default-color);
  transition: color 0.3s ease-in-out;
}

.contacts-header-link:active {
  color: var(--dark-default-color);
  outline: none;
  transition: color 0.3s ease-in-out;
}

.login-account {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--default-color);
  text-decoration-line: none;
  transition: color 0.3s ease-in-out;
}

.login-account:focus {
  outline-offset: 5px;
  outline: 1px solid var(--default-color);
  color: var(--default-color);
  transition: color 0.3s ease-in-out;
}

.login-account:hover {
  color: var(--brightness-default-color);
  transition: color 0.3s ease-in-out;
}

.login-account:active {
  color: var(--dark-default-color);
  outline: none;
  transition: color 0.3s ease-in-out;
}

.login-account svg {
  display: flex;
  align-items: center;
  margin-right: 5px;
  fill: var(--default-color);
  transition: fill 0.3s ease-in-out;

}

.login-account:focus svg {
  fill: var(--default-color);
  transition: fill 0.3s ease-in-out;
}

.login-account:hover svg {
  fill: var(--brightness-default-color);
  transition: fill 0.3s ease-in-out;
}

.login-account:active svg {
  fill: var(--default-color);
  transition: fill 0.3s ease-in-out;
}

/* header nav */

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  background: #fff;
  border-radius: 15px;
  padding-right: 45px;
  padding-left: 45px;
}

.header-list {
  display: flex;
  list-style-type: none;
  padding: 27px 0;
  margin: 0;
}

.header-items:not(:last-child) {
  margin-right: 45px;
}

.ul-header-links {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #666;
  text-decoration-line: none;
  transition: color 0.3s ease-in-out;

}

.ul-header-links:focus {
  outline-offset: 5px;
  outline: 1px solid var(--default-color);
  color: var(--default-color);
  transition: color 0.3s ease-in-out;
}

.ul-header-links:hover {
  color: var(--default-color);
  transition: color 0.3s ease-in-out;
}


.ul-header-links:active {
  color: var(--dark-default-color);
  outline: none;
  transition: color 0.3s ease-in-out;
}

.header-nav {
  margin-right: auto;
}

.header-bottom-btn {
  display: flex;
}

.btn-want-tour {
  margin-right: 40px;
}

/* special offers */

.title-h1 {
  display: none;
}

.special-content {
  display: flex;
}

.special-content-left {
  flex-basis: 50%;
  margin-right: 24px;
}

.special-content-right {
  flex-basis: 50%;
}

.special-offers-items-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.special-offers-items-link:focus::before {
  outline-offset: 8px;
  outline: 1px solid var(--default-color);
}

.special-offers-items-link:active::before {
  outline: none;
}

.special-offers-items-link:active {
  color: #FFF;
  transition: color 0.3s ease-in-out;
}

.special-offers-items-link {
  color: var(--brightness-default-color);
  transition: color 0.3s ease-in-out;
}

.special-block {
  display: flex;
  align-items: flex-end;
  position: relative;
  padding: 40px;
  border-radius: 15px;
}

.special-block:hover svg {
  transform: translateX(5px);
  transition: transform .2s ease-in-out;
}

.special-block:active svg {
  transform: translateX(0);
  transition: transform .2s ease-in-out;
}

.special-block svg {
  transform: translateX(0);
  transition: transform .2s ease-in-out;
}

.special-offers-h3 {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  max-width: 420px;
}

.right-card-h3 {
  font-size: 60px;
  max-width: 299px;
}

.special-offers-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  opacity: 0.8;
  margin-bottom: 47px;
}

.special-offers-descr-right-card {
  font-size: 30px;
}

.left-card-top {
  margin-bottom: 24px;
  flex-basis: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
    url('../img/maldives.jpg');
}

.left-card-bottom {
  flex-basis: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
    url('../img/Last-minute-tour-to-Crete.jpg');
}

.right-card {
  flex-basis: 50%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
    url('../img/deluxe-rooms.jpg');
}

/* about us */

.about-us-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  line-height: 200%;
  max-width: 888px;
}

/* services */

.services-items-link {
  display: flex;
  align-items: center;
  text-decoration-line: none;
}

.services-items-link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.services-block:hover svg {
  transform: translateX(5px);
  transition: transform .2s ease-in-out, stroke 0.3s ease-in-out;
  stroke: var(--brightness-default-color);
}

.services-block:active svg {
  transform: translateX(0);
  transition: transform .2s ease-in-out, stroke 0.3s ease-in-out;
  stroke: var(--default-color);
}

.services-block svg {
  transform: translateX(0);
  transition: transform .2s ease-in-out, stroke 0.3s ease-in-out;
  stroke: var(--default-color);
}

.services-block:hover h3 {
  color: var(--brightness-default-color);
  transition: color 0.3s ease-in-out;
}

.services-block:active h3 {
  color: var(--dark-default-color);
  transition: color 0.3s ease-in-out;
}

.services-items-link:focus::before {
  outline-offset: 8px;
  outline: 1px solid var(--default-color);
}

.services-items-link svg {
  margin-left: 5px;
  stroke: var(--default-color);
}

.services-h3 {
  color: var(--default-color);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  transition: color 0.3s ease-in-out;
}

.services-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

.services-ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.services-block {
  display: flex;
  flex-direction: column;
  padding: 191px 126px 35px 45px;
  position: relative;
}

.services-items {
  width: calc((100% - 24px)/2);
  border-radius: 15px;
}

.services-items:not(:nth-child(2n)):not(:last-child) {
  margin-right: 24px;
}

.services-items:not(:nth-child(3n)):not(:last-child) {
  margin-bottom: 24px;
}

.services-items-1 {
  background-image: url('../img/Exclusive-Service.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.services-items-2 {
  background-image: url('../img/Rent-of-banquet-halls.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.services-items-3 {
  background-image: url('../img/Saunas,swimming-pools,baths,fitness-rooms.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.services-items-4 {
  background-image: url('../img/Guarded-car-parks.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

/* benefits */

.benefits-ul {
  display: flex;
  flex-wrap: wrap;
}

.benefits-items {
  flex-basis: 23.6%;
  border-radius: 15px;
}

.benefits-items:not(:nth-child(4n)) {
  margin-right: 22px;
}

.benefits-items:not(:nth-last-child(-n + 4)) {
  margin-bottom: 22px;
}

.benefits-items-cards {
  display: flex;
  padding: 116px 42px 32px 45px;
}

.benefits-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

.benefits-item-1 {
  background-image: url('../img/bathtub.png');
  background-repeat: no-repeat;
  background-size: 66px 66px;
  background-position: 20% 15%;
}

.benefits-item-2 {
  background-image: url('../img/hanger.png');
  background-repeat: no-repeat;
  background-size: 66px 66px;
  background-position: 20% 15%;
}

.benefits-item-3 {
  background-image: url('../img/heating.png');
  background-repeat: no-repeat;
  background-size: 66px 66px;
  background-position: 20% 15%;
}

.benefits-item-4 {
  background-image: url('../img/hotel-key.png');
  background-repeat: no-repeat;
  background-size: 66px 66px;
  background-position: 20% 15%;
}

.benefits-item-5 {
  background-image: url('../img/parking.png');
  background-repeat: no-repeat;
  background-size: 66px 66px;
  background-position: 20% 15%;
}

.benefits-item-6 {
  background-image: url('../img/reception.png');
  background-repeat: no-repeat;
  background-size: 66px 66px;
  background-position: 20% 15%;
}

.benefits-item-7 {
  background-image: url('../img/security-box.png');
  background-repeat: no-repeat;
  background-size: 66px 66px;
  background-position: 20% 15%;
}

.benefits-item-8 {
  background-image: url('../img/swimming-pool.png');
  background-repeat: no-repeat;
  background-size: 66px 66px;
  background-position: 20% 15%;
}

/* accomodation */

.accommodation-ul {
  display: flex;
  flex-wrap: wrap;
}

.accommodation-items:not(:nth-child(3n)) {
  margin-right: 24px;
}

.accommodation-items {
  border-radius: 15px;
  overflow: hidden;
  flex-basis: 32%;
  position: relative;
}

.accommodation-content {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
}

.accommodation-content .btn-link {
  display: flex;
  align-self: flex-start;
}

.accomodation-img {
  width: 100%;
}

.accommodation-descr {
  display: flex;
}

.accommodation-price {
  margin-right: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.from-price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.price {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.accomodation-h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  margin: 16px 0;
}

.accommodation-country {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
  margin-bottom: 20px;
}

.accomodation-buttons {
  align-self: flex-start;
}

.accommodation-items:not(:nth-child(7n)):not(:nth-child(8n)):not(:nth-child(9n)) {
  margin-bottom: 24px;
}

.accommodation-items:last-child {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url('../img/See-all-options.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.accomodation-items-link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFF;
  text-decoration-line: none;
  margin-left: 54px;
  margin-bottom: 27px;
}

.accomodation-items-link::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.accomodation-items-link svg {
  margin-left: 5px;
  transform: translate(0);
  transition: transform .2s ease-in-out;
}

.accomodation-items-link:hover svg {
  transform: translate(5px);
  transition: transform .2s ease-in-out;
}

.accomodation-items-link:active svg {
  transform: translate(0);
  transition: transform .2s ease-in-out;
}

/* Want tour */

.container-want-tour {
  background: #E9E9E9;
  min-width: 1170px;
  min-height: 256px;
  border-radius: 15px;
  padding: 45px 45px 45px 40px;
}

.want-tour-title {
  padding: 0;
}

.want-tour-form form {
  width: 100%;
  padding-left: 5px;
}

.form-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  min-width: 1080px;
  min-height: 106px;
  border-radius: 15px;
  padding: 31px 28px;
}

select, input {
  border: none;
}

.label-want-tour {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000;
  margin-bottom: 15px;
  padding-left: 5px;
}

.number {
  border-bottom: 1px solid #E9E9E9;
  max-width: 121px;
}

.date {
  max-width: 121px;
}

.departure-city {
  display: flex;
  flex-direction: column;
}

.country {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.want-tour-button {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--default-color);
  padding: 13px 30px;
  cursor: pointer;
  border: 1px solid var(--default-color);
}

/* Contacts */

.contacts-content {
  display: flex;
  background: #fff;
  border-radius: 15px;
  min-width: 1170px;
  min-height: 618px;
  padding: 45px;
}

.contacts-left-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
}

.contacts-left-side .btn-link {
  display: flex;
  align-self: flex-start;
  padding: 27px 29.5px;
}

.contacts-right-side {
  width: 60%;
  display: flex;
}

.contacts-left-side-content {
  display: flex;
  justify-content: space-between;
  max-width: 375px;
  border-bottom: 1px solid #E9E9E9;
}

.contacts-h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.contacts-items {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.contacts-ul {
  min-width: 223px;
  padding-bottom: 23px;
}

.contacts-img {
  max-width: 100%;
}

.contacts-link {
  color: var(--default-color);
  transition: color 0.3s ease-in-out;
}

.contacts-link:focus {
  outline-offset: 2px;
  outline: 1px solid var(--default-color);
  color: var(--default-color);
  transition: color 0.3s ease-in-out;
}

.contacts-link:hover {
  color: var(--brightness-default-color);
  transition: color 0.3s ease-in-out;
}

.contacts-link:active {
  color: var(--dark-default-color);
  outline: none;
  transition: color 0.3s ease-in-out;
}

.contacts-email-text {
  color: #999;
}

/* footer */

.container-footer {
  display: flex;
  background: #333;
  border-radius: 15px;
  min-height: 341px;
  margin-bottom: 30px;
  background-image: url('../img/Footer-sun.png');
  background-repeat: no-repeat;
  background-position: 750px 120px;
  background-size: 254px;
  padding: 45px;
  justify-content: space-between;
}

.footer-content-left {
  width: 40%;
}

.footer-content-center {
  width: 35%;
}

.footer-content-right {
  display: flex;
  width: 25%;
  justify-content: flex-end;
  align-items: flex-start;
}

.footer-ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.footer-descr {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  margin-bottom: 40px;
}

.footer-descr-center {
  margin-bottom: 15px;
}

.footer-descr-center:last-child {
  margin-bottom: 0;
}

.footer-links {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--default-color);
  text-decoration-line: none;
  transition: color 0.3s ease-in-out;
}

.footer-links:focus {
  outline-offset: 5px;
  outline: 1px solid var(--default-color);
  color: var(--default-color);
  transition: color 0.3s ease-in-out;
}

.footer-links:hover {
  color: var(--brightness-default-color);
  transition: color 0.3s ease-in-out;
}

.footer-links:active {
  color: var(--dark-default-color);
  outline: none;
  transition: color 0.3s ease-in-out;
}

.items-social-links {
  margin-bottom: 17px;
}

.img-social-links {
  width: 25px;
  height: 25px;
}

.social-item svg {
  fill: #999;
  transition: fill 0.3s ease-in-out;

}

.social-item:focus svg {
  fill: var(--default-color);
  transition: fill 0.3s ease-in-out;

}

.social-item:hover svg {
  fill: var(--default-color);
  transition: fill 0.3s ease-in-out;

}

.social-item:active svg {
  fill: var(--dark-default-color);
  transition: fill 0.3s ease-in-out;

}
